{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto">
        <header class="text-center py-5">
            <h1 class="text-4xl font-bold">Bienvenido a nuestro Bazar con Realidad Aumentada</h1>
            <p class="text-gray-700">Descubre una nueva de conocer un bazar</p>
        </header>

        <section class="py-5 text-center">
            <h2 class="text-2xl font-bold"></h2>
            <img src="/static/logoo.png">
        </section>

        <footer class="text-center py-5">
            <p class="text-gray-700">© 2024 Bazar con Realidad Aumentada</p>
        </footer>
    </div>
{% endblock %}